<mat-toolbar>
  <mat-icon></mat-icon>
  <button mat-button>首页</button>
  <button mat-button>博客</button>
  <button mat-button>关于我们</button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item href="...">JavaScript </a>
      <a mat-list-item href="...">TypeScript </a>
      <a mat-list-item href="...">webpack </a>
      <a mat-list-item href="...">Vue </a>
      <a mat-list-item href="...">Angualar </a>
      <a mat-list-item href="...">React </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
