<mat-toolbar class="header">
  <div class="logo" (click)="goHome()">lsz的博客小院</div>
  <ul class="menu-list">
    <li class="menu" (click)="goBlog()">博客</li>
    <li class="menu" (click)="goDemo()">demo</li>
  </ul>
  <button
    mat-raised-button
    color="primary"
    (click)="goLogin()"
    class="header-login"
    *ngIf="!isLogin"
  >
    登录
  </button>
  <div class="header-user" *ngIf="isLogin">
    <span>{{ userInfo.username }}</span>
    <span class="header-user-logout" (click)="handleLogout()">退出</span>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
