.header
    height 60px
    padding 0 200px
    display flex
    justify-content space-between
    color #fff
    background #1a1a1a
    box-shadow: 0 1px 4px 0 #e5e5e5;
    .logo
        cursor pointer
    .menu-list
        margin 0
        padding 0
        display flex
        .menu
            margin-right 80px
            list-style none
            font-size 14px
            cursor pointer
            &:hover
                color #e99345
    &-login
      background-color #fff
      color #111
      border-radius 0

