<div class="container">
  <form class="form" (ngSubmit)="submitForm(loginForm)" #loginForm="ngForm">
    <mat-form-field class="form-item">
      <input
        matInput
        placeholder="邮箱"
        [(ngModel)]="username"
        required
        minlength="4"
        #name="ngModel"
        name="username"
      />
    </mat-form-field>
    <div *ngIf="name.invalid">
      <div *ngIf="name.errors.required">
        邮箱是必填项
      </div>
      <div *ngIf="name.errors.minlength">
        邮箱至少4个字符
      </div>
    </div>
    <mat-form-field class="form-item">
      <input
        matInput
        placeholder="密码"
        [(ngModel)]="password"
        required
        minlength="4"
        name="password"
        #pwd="ngModel"
      />
    </mat-form-field>
    <div *ngIf="pwd.invalid">
      <div *ngIf="pwd.errors.required">
        密码是必填项
      </div>
      <div *ngIf="pwd.errors.minlength">
        密码至少4个字符
      </div>
    </div>

    <button mat-flat-button class="form-button" type="submit" color="primary">
      <mat-icon> arrow_right_alt</mat-icon>
      登录
    </button>
  </form>
</div>
